.background {
    background-color: rgb(245, 245, 245);
}

.container {
    margin-top: 60px;
    min-height: 700px;
}

.container-listagem {
    position: relative;
    margin: auto;
    width: 80%;
    height: 100%;
    margin-top: 10px;
}

.carrossel-container {
    display: inline-block;
}

.loader-spiner {
    margin: auto;
}

/* .mat-spinner::ng-deep circle {
    stroke: #3F51B5;
} */

/***************************
********** FILTRO **********
****************************/

.filter-btn {
    margin: 20px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.filter-btn span {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.filter-btn img {
    width: 25px;
    margin-right: 10px;
}

.filter-container {
    /* width: 500px; */
    /* height: 300px; */
    /* border: 1px solid rgba(0, 0, 0, 0.5); */
}

.filter-sidenav-content {
    display: flex;
    height: 100%;
}

.filter-sidenav {
    padding: 20px;
    width: 350px;
}

.not-expansible-div {
    margin-top: 20px;
}

.not-expansible-span {
    margin-left: 20px;
    font-weight: bold;
}

.divider {
    margin-top: 20px;
}

.radio {
    position: relative;
    text-align: center;
    margin-bottom: 20px;
}

.example-radio-group {
    position: relative;
    top: 10px;
}

.example-radio-button {
    margin: 5px;
}