<div class="background">
    <mat-drawer-container class="container" autosize>

        <mat-drawer #filterBar class="filter-sidenav" mode="side">

            <mat-accordion>

                <div class="radio">
                        <mat-radio-group
                            aria-labelledby="example-radio-group-label"
                            class="example-radio-group"
                            [(ngModel)]="filterForm.tipoVeiculoSelected">
                        <mat-radio-button class="example-radio-button" *ngFor="let tipoVeiculo of TiposVeiculo" [value]="tipoVeiculo">
                            {{tipoVeiculo}}
                        </mat-radio-button>
                    </mat-radio-group>
                </div>

                <mat-expansion-panel>
                    <mat-expansion-panel-header>

                        <mat-panel-title>
                            <span>
                                <strong>Localização</strong>
                            </span>
                        </mat-panel-title>

                        <mat-panel-description>
                            {{filterForm.local.estado}}, {{filterForm.local.pais}}
                        </mat-panel-description>

                    </mat-expansion-panel-header>

                    <mat-form-field appearance="outline">
                        <mat-label>País</mat-label>
                        <input matInput [(ngModel)]="filterForm.local.pais">
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Estado</mat-label>
                        <input matInput [(ngModel)]="filterForm.local.estado">
                    </mat-form-field>

                </mat-expansion-panel>
                <mat-expansion-panel (opened)="panelOpenState = true"
                                     (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>

                        <mat-panel-title>
                            <strong>Período</strong>
                        </mat-panel-title>

                        <mat-panel-description>
                            {{filterForm.periodo.dataInicio | date: 'dd/MM/yyy'}} - {{filterForm.periodo.dataFim | date: 'dd/MM/yyy'}}
                        </mat-panel-description>

                    </mat-expansion-panel-header>

                    <mat-form-field appearance="outline">
                        <input matInput [matDatepicker]="pickerIni" placeholder="Data inicio" [(ngModel)]="filterForm.periodo.dataInicio">
                        <mat-datepicker-toggle matSuffix [for]="pickerIni"></mat-datepicker-toggle>
                        <mat-datepicker #pickerIni></mat-datepicker>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <input matInput [matDatepicker]="pickerFim" placeholder="Data Fim" [(ngModel)]="filterForm.periodo.dataFim">
                        <mat-datepicker-toggle matSuffix [for]="pickerFim"></mat-datepicker-toggle>
                        <mat-datepicker #pickerFim></mat-datepicker>
                    </mat-form-field>

                </mat-expansion-panel>

                <mat-expansion-panel>
                    <mat-expansion-panel-header>

                        <mat-panel-title>
                            <span>
                                <strong>Veículo</strong>
                            </span>
                        </mat-panel-title>

                        <mat-panel-description>
                            {{filterForm.veiculo.marca}} {{filterForm.veiculo.modelo}}
                        </mat-panel-description>

                    </mat-expansion-panel-header>

                    <mat-form-field appearance="outline">
                        <mat-label>Marca</mat-label>
                        <input matInput [(ngModel)]="filterForm.veiculo.marca">
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Modelo</mat-label>
                        <input matInput [(ngModel)]="filterForm.veiculo.modelo">
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Versão</mat-label>
                        <input matInput [(ngModel)]="filterForm.veiculo.versao">
                    </mat-form-field>

                </mat-expansion-panel>
                
                <div class="not-expansible-div">
                    <span class="not-expansible-span">
                        Categoria
                    </span>

                    <mat-divider class="divider"></mat-divider>
                </div>
                
            </mat-accordion>

        </mat-drawer>
          
        <div class="filter-sidenav-content">
            <button class="filter-btn" type="button" mat-raised-button (click)="filterBar.toggle()">
                    <img [src]="filterImageUrl"> <span>Filtrar</span>
            </button>

            <!-- Filtros ativos -->
            <section class="active-section">

                <div *ngIf="filterForm.periodo.dataInicio != null && filterForm.periodo.dataInicio != ''" 
                class="selected-filter">
                    <span>
                        {{filterForm.periodo.dataInicio | date: 'dd/MM/yyy'}}
                    </span>
                    <div class="close-image-div" (click)="filterForm.periodo.dataInicio = ''">
                        <img [src]="closeImageUrl">
                    </div>
                </div>

                <div *ngIf="filterForm.periodo.dataFim != null && filterForm.periodo.dataFim != ''" 
                class="selected-filter">
                    <span>
                        {{filterForm.periodo.dataFim | date: 'dd/MM/yyy'}}
                    </span>
                    <div class="close-image-div" (click)="filterForm.periodo.dataFim = ''">
                        <img [src]="closeImageUrl">
                    </div>
                </div>

            </section>
            
        </div>


        <div class="container-listagem">

            <div *ngIf="loading" class="loader">
                <mat-spinner class="loader-spiner"></mat-spinner>
            </div>
        
            <div *ngIf="!loading" class="home">
                <div *ngFor="let card of cards" class="carrossel-container">

                    <card-component
                        [card]="card">
                    </card-component>
        
                </div>
            </div>
        </div>
    </mat-drawer-container>
</div>