.background {
    background-color: rgb(245, 245, 245);
}

.container {
    margin-top: 60px;
    height: 100%;
}

.container-listagem {
    position: relative;
    margin: auto;
    width: 80%;
    height: 100%;
    margin-top: 10px;
}

.carrossel-container {
    display: inline-block;
}

.loader-spiner {
    margin: auto;
}

/* .mat-spinner::ng-deep circle {
    stroke: #3F51B5;
} */

/***************************
********** FILTRO **********
****************************/

.filter-btn {
    margin: 20px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.filter-btn span {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.filter-btn img {
    width: 25px;
    margin-right: 10px;
}

.filter-container {
    /* width: 500px; */
    /* height: 300px; */
    /* border: 1px solid rgba(0, 0, 0, 0.5); */
}

.filter-sidenav-content {
    display: flex;
    /* height: 100%; */
    height: 80px;
}

.filter-sidenav {
    padding: 20px;
    width: 380px;
}

.not-expansible-div {
    margin-top: 20px;
}

.not-expansible-span {
    margin-left: 20px;
    font-weight: bold;
}

.divider {
    margin-top: 20px;
}

.radio {
    position: relative;
    text-align: center;
    margin-bottom: 20px;
}

.example-radio-group {
    position: relative;
    top: 10px;
}

.example-radio-button {
    margin: 5px;
}

/***************************
****** FILTROS ATIVOS ******
****************************/

.active-section {
    margin-top: 15px;
    display: inline-flex;
}

.selected-filter {
    background-color: rgb(103, 57, 182);
    height: 30px;
    width: 100%;
    margin: 10px;
    box-shadow: 0px 1px 10px rgb(0, 0, 0);
    border-radius: 7px;
}

.selected-filter span{
    position: relative;
    top: 4px;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
}

.close-image-div {
    margin-top: 4px;
    display: inline-block;
    width: 22px;
    height: 22px;
    background-color: rgb(74, 40, 131);
    text-align: center;
    border-radius: 50%;
    float: right;
    margin-right: 5px;
    cursor: pointer;
}

.close-image-div img{
    margin-top: 2px;
    width: 12px;
}