.card {
    width: 220px;
	height: 270px;
    /* margin: 0px auto; */
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 5px 10px rgb(0, 0, 0);
	margin: 20px;
	border-radius: 3px;
	display: inline-block;
	cursor: pointer;
	transition: .2s;
}

.card:hover {
    box-shadow: 0px 10px 20px rgb(0, 0, 0);
}

/****************************
********* Card image *********
*****************************/

.card-image {
    height: 135px;
}

.card-image img{
    width: 220px;
    border-radius: 3px 3px 0 0;
}

/****************************
********* Card body *********
*****************************/

.card-body {
    margin-left: 10px;
    margin-right: 10px;
}

.marca-modelo {
    font-size: 18px;
}

.versao,
.cambio {
    font-size: 14px;
    color: rgb(117, 117, 117);
}

.bottom {
    width: 210px;
    position: relative;
    bottom: 20px;
    margin-top: 70px;
    /* width: 200px; */
}

.valor {
    margin-right: 5px;
    position: relative;
    float: right;
}