<div class="card" (click)="goToAnuncio(card.id)">

    <div class="card-image">
        <img [src]="card.imageUrl">
    </div>

    <div class="card-body">

        <div class="marca-modelo">
            <span><strong>{{card.marca}} {{card.modelo}}</strong></span>
        </div>

        <div class="versao">
            <span>{{card.versao}}</span>
        </div>

        <div class="cambio">
            <span>{{card.cambio}}</span>
        </div>

        <div class="bottom">
            <div class="valor">
                <span><strong>R$ {{card.valor}}</strong></span>
            </div>
        </div>


    </div>

</div>