<div class="container">
    <div class="content-div">

        <div class="slogan-div">
            <span class="slogan"><strong>O carro dos seus sonhos está aqui</strong></span>
        </div>
        
        <div>
            <span class="slogan2"><strong>Rápido, fácil e seguro</strong></span>
        </div>

        <div class="location-input-div">
            
            <div>
                
                <!-- <mat-form-field appearance="outline">
                    <mat-label>Outline form field</mat-label>
                    <input matInput placeholder="Placeholder">
                </mat-form-field> -->
            </div>

        </div>

        <div class="dream-car-div">
            <img class="dream-car-image" [src]="dreamCarUrl">
        </div>

    
    </div>
</div>