.container {
    width: 80%;
    height: 100%;
    margin: auto;
    margin-top: 150px;
}

.content-div {
    text-align: center;
}



/*************************************
************** slogan ***************
**************************************/

.slogan-div {
    margin-bottom: 10px;
}

.slogan {
    font-weight: 700px;
    font-size: 34px;
}

.slogan2 {
    color: #757575;
    font-size: 24px;
    font-weight: 400;
}

/*************************************
************** input ***************
**************************************/
.location-input-div {
    position: relative;
    margin: auto;
    margin-top: 30px;
    border-radius: 3px;
    height: 300px;
    width: 900px;
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.2), 
                0px 1px 1px 0px rgba(0, 0, 0, 0.14), 
                0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.location-input {
    border: none;
    border-radius: 3px;
    width: 700px;
    height: 40px;
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.2), 
                0px 1px 1px 0px rgba(0, 0, 0, 0.14), 
                0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

/*************************************
************** image ***************
**************************************/

.dream-car-div {
    margin-top: 50px;
}

.dream-car-image {
    width: 250px;
    position: relative;
    -webkit-animation-name: car-up; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: car-up;
    animation-duration: 1s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes car-up {
    0%   { left:0px; top:50px;}
    100% { top:0px;}
  }

@keyframes car-up {
    0%   { left:0px; top:50px;}
    /* 25%  { top:10px;} */
    /* 50%  { top:5px;} */
    /* 75%  { top:10px;} */
    100% { top:0px;}
}

/* mat-menu {
    width: 40px;
    height: 100px;
} */