<div class="container">
    <div class="content-div">

        <div class="slogan-div">
            <span class="slogan"><strong>O carro dos seus sonhos está aqui</strong></span>
        </div>
        
        <div>
            <span class="slogan2"><strong>Rápido, fácil e seguro</strong></span>
        </div>

        <div class="location-input-div">
            <input class="location-input" type="text">
        </div>

        <div class="dream-car-div">
            <img class="dream-car-image" [src]="dreamCarUrl">
        </div>

    
    </div>
</div>